.layout-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh; /* Full-screen height */
}

mat-sidenav {
  width: 250px; /* Sidebar width */
  background-color: #f4f4f4;
}

mat-sidenav-content {
  // padding: 16px;
  background-color: #f9f9f9;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {
  margin-top: 16px;
}

.app-sidebar {
  display: flex;
  position: absolute;
  right: 0;
}

.image-container {
  text-align: center;  /* Center the image */
  margin-top: 20px;     /* Add space between the navbar and image */
}

.image-container img {
  max-width: 100%;      /* Make the image responsive */
  height: auto;         /* Maintain the aspect ratio */
  border-radius: 8px;   /* Optional: Add rounded corners */
}

