<footer class="footer">
  <div class="footer-row1">
    <div class="footer-column">
      <h3>Certifications by Skill</h3>
      <ul>
        <li><a routerLink="/Cybersecurity-Certification">Cybersecurity Certification</a></li>
        <li><a routerLink="/Cloud-Certification">Cloud Certification</a></li>
        <li><a routerLink="/Data-Analytics-Certification">Data Analytics Certification</a></li>
        <li><a routerLink="/HR-Management-Certification">HR Management Certification</a></li>
        <li><a routerLink="/See-all-Certifications">See all Certifications</a></li>
        <li><a routerLink="/Project-Management-Certification">Project Management Certification</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Data Science</h3>
      <ul>
        <li><a routerLink="/Data-Science">Data Science</a></li>
        <li><a routerLink="/Python">Python</a></li>
        <li><a routerLink="/Machine-Learning">Machine Learning</a></li>
        <!-- <li><a href="#">ChatGPT</a></li> -->
        <li><a routerLink="/Deep-Learning">Deep Learning</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Communication</h3>
      <ul>
        <li><a routerLink="/communication-skills">Communication Skills</a></li>
        <li><a routerLink="/resentation-skills">Presentation Skills</a></li>
        <li><a routerLink="/public-speaking">Public Speaking</a></li>
        <li><a routerLink="/writing">Writing</a></li>
        <li><a routerLink="/powerpoint">PowerPoint</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Business Analytics & Intelligence</h3>
      <ul>
        <li><a routerLink="/Microsoft-Excel">Microsoft Excel</a></li>
        <li><a routerLink="/SQL">SQL</a></li>
        <li><a routerLink="/Microsoft-Power-BI">Microsoft Power BI</a></li>
        <li><a routerLink="/Data-Analysis">Data Analysis</a></li>
        <li><a routerLink="/Business-Analysis">Business Analysis</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-row2">
    <div class="footer-column">
      <h3>About</h3>
      <ul>
        <li><a routerLink="/About-us">About us</a></li>
        <li><a routerLink="/Careers">Careers</a></li>
        <li><a routerLink="/Contact-us">Contact us</a></li>
        <li><a routerLink="/Blog">Blog</a></li>
        <li><a routerLink="/Investors">Investors</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Discover EduTech</h3>
      <ul>
        <li><a routerLink="/Get-the-app">Get the app</a></li>
        <li><a routerLink="/Teach-on-EduTech">Teach on EduTech</a></li>
        <li><a routerLink="/Plans-and-Pricing">Plans and Pricing</a></li>
        <li><a routerLink="/Affiliate">Affiliate</a></li>
        <li><a routerLink="/Help-and-Support">Help and Support</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>EduTech for Business</h3>
      <ul>
        <li><a href="#">EduTech Business</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Legal & Accessibility</h3>
      <ul>
        <li><a routerLink="/Accessibility-statement">Accessibility statement</a></li>
        <li><a routerLink="/Privacy-policy">Privacy policy</a></li>
        <li><a routerLink="/Sitemap">Sitemap</a></li>
        <li><a routerLink="/Terms">Terms</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>🌐 English</p>
  </div>
</footer>