<div class="my-courses-contaier">
    <div class="my-courses-header">
        <h1>My learning</h1>
        <div class="my-couuses-body">
            <a routerLink="/layout/my-learning">All courses</a>
            <a routerLink="/layout/my-learning/my-lists">My Lists</a>
            <a routerLink="/layout/my-learning/wishlist">Wishlist</a>
            <a routerLink="/layout/my-learning/archived">Archived</a>
            <a routerLink="/layout/my-learning/learning-tools">Learning tools</a>
        </div>
    </div>
    <div class="my-courses-body">
        <router-outlet></router-outlet>
    </div>
</div>
