.register-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }

  button {
    display: block;
    margin: 10px auto;
    width: 100%;
  }

  button[mat-button] {
    text-align: center;
  }
  .back-button {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .animated-back-button {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Spacing between icon and text */
    color: #3f51b5; /* Primary color */
    transition: transform 0.3s ease, color 0.3s ease;
  
    &:hover {
      transform: translateX(-5px); /* Slight movement on hover */
      color: #283593; /* Darker shade on hover */
    }
  
    mat-icon {
      font-size: 20px;
      transition: transform 0.3s ease;
  
      &:hover {
        transform: rotate(-15deg); /* Rotate icon slightly */
      }
    }
  }
  .error-message {
    color: #f44336; // Material Red for error
    font-size: 14px;
    margin-top: -10px;
  } 
  
  .mandatory {
    color: red;
    font-size: 1.2em; /* Adjust the size as needed */
  }
  .register-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Adjust spacing as needed */
  }
  
  .mandatory {
    color: red;
    font-size: 1.2em; /* Adjust the size as needed */
  }
  
  .hide-asterisk {
    display: none;
  }
  
  
}
