.head-text {
    background-color: #fff;
    display: flex;
    color: #000;
    box-shadow: 0 2px 4px rgba(6, 17, 118, 0.08), 0 4px 12px rgba(6, 17, 118, 0.08);
}

.reverse {
    flex-direction: row-reverse;
}