<footer class="footer">
    <div class="footer-row1">
      <div class="footer-column">
        <h3>Certifications by Skill</h3>
        <ul>
          <li><div>Cybersecurity Certification</div></li>
          <li><div>Cloud Certification</div></li>
          <li><div>Data Analytics Certification</div></li>
          <li><div>HR Management Certification</div></li>
          <li><div>See all Certifications</div></li>
          <li><div>Project Management Certification</div></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Data Science</h3>
        <ul>
          <li><a href="#">Data Science</a></li>
          <li><a href="#">Python</a></li>
          <li><a href="#">Machine Learning</a></li>
          <!-- <li><a href="#">ChatGPT</a></li> -->
          <li><a href="#">Deep Learning</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Communication</h3>
        <ul>
          <li><a href="#">Communication Skills</a></li>
          <li><a href="#">Presentation Skills</a></li>
          <li><a href="#">Public Speaking</a></li>
          <li><a href="#">Writing</a></li>
          <li><a href="#">PowerPoint</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Business Analytics & Intelligence</h3>
        <ul>
          <li><a href="#">Microsoft Excel</a></li>
          <li><a href="#">SQL</a></li>
          <li><a href="#">Microsoft Power BI</a></li>
          <li><a href="#">Data Analysis</a></li>
          <li><a href="#">Business Analysis</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-row2">
      <div class="footer-column">
        <h3>About</h3>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Investors</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Discover Udemy</h3>
        <ul>
          <li><a href="#">Get the app</a></li>
          <li><a href="#">Teach on Udemy</a></li>
          <li><a href="#">Plans and Pricing</a></li>
          <li><a href="#">Affiliate</a></li>
          <li><a href="#">Help and Support</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Udemy for Business</h3>
        <ul>
          <li><a href="#">Udemy Business</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Legal & Accessibility</h3>
        <ul>
          <li><a href="#">Accessibility statement</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Terms</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
        <p>🌐 English</p>
    </div>
  </footer>
  