<div class="login-container">
    <div class="left-section">
        <img src="https://cdni.iconscout.com/illustration/free/thumb/free-developer-team-illustration-download-in-svg-png-gif-file-formats--support-group-laptop-text-design-and-development-pack-illustrations-1731280.png?f=webp" alt="Login Illustration" />
    </div>
    <div class="right-section">
        <h2>Log in to continue your <br> learning journey</h2>
        <div class="login-buttons">
            <button mat-raised-button class="google-login">
                <!-- <mat-icon matPrefix></mat-icon> -->
                 <img src="https://cdn-teams-slug.flaticon.com/google.jpg" alt="Google-icom">
                Continue with Google
            </button>
            <div class="diff-acc">
                <a href="#" class="secondary-link">Log in to a different account</a>
            </div>
            
            <div class="diff-acc">
                Don't have an account? <a href="" class="sign-up-link" (click)="navigateToRegister()">Sign up</a>
            </div>
            <div class="diff-acc">
                Already have an Account? <a href="" class="sign-up-link" (click)="navigateToLogin()">Log in</a>
            </div>
        </div>
    </div>
</div>